.main-box{
    
    transition: all .2s linear;
    transition-duration: 1000;
}

.upper-box{

}

.down-box{
    visibility: hidden;
}

.main-box:hover .down-box{
    visibility: visible;
}
.main-box:hover .upper-box{
    background-color: #d8a62a;
}